export PFS_DOWNLOD=$PWD/pfs-download
export GCP_PROJECT_ID=$(gcloud config get-value core/project)
export GCP_ZONE=asia-southeast1-a
export GCP_GKE_CLUSTER=pfs-demo
export KUBE_CONTEXT=gke_${GCP_PROJECT_ID}_${GCP_ZONE}_${GCP_GKE_CLUSTER}
export CLUSTER_NAME=${GCP_GKE_CLUSTER}
export CLUSTER_ZONE=${GCP_ZONE}
export DNS_ZONE=runs-on-cf-zone
export DNS_NAME=functions.runs-on.cf
export FUNCTION_NS=default
